certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
decorator==4.4.2
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.4
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
moviepy==1.0.3
mysql-connector==2.2.9
mysqlclient==2.0.3
numpy==1.21.0
proglog==0.1.9
protobuf==3.17.3
pycryptodomex==3.9.9
pydantic==1.8.2
PySocks==1.7.1
requests==2.25.1
six==1.16.0
tqdm==4.61.2
typing-extensions==3.10.0.0
urllib3==1.26.6
Flask~=2.0.1
setuptools~=57.1.0
Werkzeug~=2.0.1
Pillow~=8.3.1
mysql~=0.0.3
mysql-connector-python~=8.0.26